$darkBlueBody: hsl(217, 54%, 11%);
$darkBlueCard: hsl(216, 50%, 16%);
$darkBlueLine: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$softBlue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$transcyan: hsla(178, 100%, 50%, 0.5);